<a data-toggle="dropdown">
  <i [ngClass]="statusIcon"></i>
  <ul class="dropdown-menu">
    <li class="dropdown-item" (click)="setStatus('Not Started')"><i class="far fa-clock"></i> - Not Started</li>
    <li class="dropdown-item" (click)="setStatus('In Progress')"><i class="fas fa-laptop-code"></i> - Started</li>
    <li class="dropdown-item" (click)="setStatus('On Hold')"><i class="far fa-hand-paper"></i> - On Hold</li>
    <li class="dropdown-item" (click)="setStatus('Cancelled')"><i class="fas fa-ban"></i> - Cancelled</li>
    <li class="dropdown-item" (click)="setStatus('Completed')"><i class="fa fa-check-circle"></i> - Completed</li>
  </ul>
</a>
