<a data-toggle="dropdown">
  <i class="fas fa-bars"></i>
  <ul class="dropdown-menu">
    <li class="dropdown-item" (click)="setList('inProgress')"><i class="fas fa-laptop-code"></i> - In Progress</li>
    <li class="dropdown-item" (click)="setList('techDebt')"><i class="fas fa-toilet-paper"></i> - Tech Debt</li>
    <li class="dropdown-item" (click)="setList('notStarted')"><i class="far fa-clock"></i> - Not Started</li>
    <li class="dropdown-item" (click)="setList('onHold')"><i class="far fa-hand-paper"></i> - On Hold</li>
    <li class="dropdown-item" (click)="setList('cancelled')"><i class="fas fa-ban"></i> - Cancelled</li>
    <li class="dropdown-item" (click)="setList('completed')"><i class="fa fa-check-circle"></i> - Completed</li>
  </ul>
</a>
