<div id="tasks">
  <div class="text-left">
    <h4>{{ tasksHeader }}</h4>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" width="20"></th>
        <th scope="col" width="20"></th>
        <th scope="col" width="20"></th>
        <th scope="col" width="20"></th>
        <th scope="col" width="400">Summary</th>
        <th scope="col" width="5%">Req</th>
        <th scope="col" width="5%">FE</th>
        <th scope="col" width="5%">API</th>
        <th scope="col" width="5%">DevOps</th>
        <th scope="col" width="5%">Email</th>
        <th scope="col" width="5%">QE</th>
        <th scope="col" width="6%">ETA</th>
        <th scope="col" width="6%">Deployed</th>
        <th scope="col" width="6%">Deadline</th>
        <th scope="col" width="350">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of (taskService.tasks| async) | propsFilter:{ status:statusFilter }; index as i" [ngClass]="{ 'alert-success': task.status === 'Completed', 'alert-warning': task.status === 'On Hold', 'alert-danger': task.status === 'Cancelled' }">
        <td><i class="fas fa-bars"></i></td>
        <td><app-board-cell [board]="task.board" (boardChange)="task.board=$event; saveChanges(task);"></app-board-cell></td>
        <td>{{ i + 1 }}</td>
        <td><app-status-cell [status]="task.status" (statusChange)="task.status=$event; saveChanges(task);"></app-status-cell></td>
        <td class="text-left">
          <app-text-cell [value]="task.summary" (valueChange)="task.summary=$event; saveChanges(task);"></app-text-cell>
        </td>
        <td><app-link-cell [link]=task.requirementUrl (linkChange)="task.requirementUrl=$event; saveChanges(task);"></app-link-cell></td>
        <td><app-team-cell [owner]=task.fe (ownerChange)="task.fe=$event; saveChanges(task)"></app-team-cell></td>
        <td><app-team-cell [owner]=task.api (ownerChange)="task.api=$event; saveChanges(task)"></app-team-cell></td>
        <td><app-team-cell [owner]=task.devOps (ownerChange)="task.devOps=$event; saveChanges(task)"></app-team-cell></td>
        <td><app-team-cell [owner]=task.email (ownerChange)="task.email=$event; saveChanges(task)"></app-team-cell></td>
        <td><app-team-cell [owner]=task.qe (ownerChange)="task.qe=$event; saveChanges(task)"></app-team-cell></td>
        <td><app-date-cell [date]=task.eta (dateChange)="task.eta=$event; saveChanges(task);"></app-date-cell></td>
        <td><app-date-cell [date]=task.deployed (dateChange)="task.deployed=$event; saveChanges(task);"></app-date-cell></td>
        <td><app-date-cell [date]=task.deadline (dateChange)="task.deadline=$event; saveChanges(task);"></app-date-cell></td>
        <td class="text-left">
          <app-text-cell [value]="task.notes" (valueChange)="task.notes=$event; saveChanges(task);"></app-text-cell>
        </td>
      </tr>
    </tbody>
  </table>
</div>
