#tasks {
  padding: 10px 20px;
  font-size: 12px;
}

th {
  padding: 3px;
  background-color: #efefef;
}

td {
  padding: 3px;
}

td:hover {
  cursor: pointer;
}

ul {
  font-size: 13px;
}

.insertFromBelow {
  border-bottom: 20px solid lightgray;
}

.insertFromAbove {
  border-top: 20px solid lightgray;
}
