#tasks {
  padding: 10px 20px;
  font-size: 12px;
}

th {
  padding: 3px;
  background-color: #efefef;
}

td {
  padding: 3px;
}

td:hover {
  cursor: pointer;
}

.insertFromBelow {
  border-bottom: 5px solid green;
}

.insertFromAbove {
  border-top: 5px solid green;
}