#tasks {
  padding: 10px 20px;
  font-size: 12px;
}

th {
  padding: 3px 4px;
  background-color: #efefef;
}

td {
  padding: 3px 4px;
}

td:hover {
  cursor: pointer;
}

ul {
  font-size: 13px;
}


@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes highlight-fade {
    from {
      opacity: 0;
      background-color: lightgoldenrodyellow;
    }
    to {
      opacity: 1;
    }
}

.highlighted {
  animation: highlight-fade 1s;
}

.insertFromBelow {
  border-bottom: 20px solid lightgray;
}

.insertFromAbove {
  border-top: 20px solid lightgray;
}

.removed {
  animation: fade-out 0.75s;
}

.select-task {
  padding-top: 1px;
}