<div id="tasks">
  <div class="text-left mb-1">
    <span class="h4">{{ tasksHeader }}</span>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" width="20"></th>
        <th scope="col" width="15"></th>
        <th scope="col" width="20"></th>
        <th scope="col" width="20"></th>
        <th scope="col" width="400">Summary</th>
        <th scope="col" width="5%">Req</th>
        <th scope="col" width="5%">FE</th>
        <th scope="col" width="5%">API</th>
        <th scope="col" width="5%">DevOps</th>
        <th scope="col" width="5%">Email</th>
        <th scope="col" width="5%">QE</th>
        <th scope="col" width="6%">ETA</th>
        <th scope="col" width="6%">Deployed</th>
        <th scope="col" width="6%">Deadline</th>
        <th scope="col" width="350">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of (tasks | async) index as i" [ngClass]="{ 'highlighted': task.justUpdated, 'removed': task.justRemoved, 'alert-success': listName === 'completed', 'alert-warning': listName === 'onHold', 'alert-danger': listName === 'cancelled', 'bg-white': listName === 'notStarted' || listName === 'inProgress' || listName === 'techDebt', 'insertFromAbove': draggingIndex !== i && draggingHoverIndex === i && draggingDirection === 'down', 'insertFromBelow': draggingIndex !== i && draggingHoverIndex === i && draggingDirection === 'up' }"
          (drop)="drop($event, i)"
          (dragover)="allowDrop($event, i)"
          draggable="true"
          (dragstart)="drag(i)"
          (dragend)="dragend()">
        <td>{{ i + 1 }}</td>
        <td class="text-center select-task">
          <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" [id]="'check' + i" (change)="checkTaskSelection(task, $event)">
          </div>
        </td>
        <td><app-board-cell [board]="task.board" (boardChange)="changeBoard(task, $event);"></app-board-cell></td>
        <td><span *ngIf="type === 'sprint'"><app-status-cell [list]="listName" (listChange)="changeTaskStatus(task, $event);"></app-status-cell></span></td>
        <td class="text-left">
          <app-text-cell [value]="task.summary" (valueChange)="saveChanges(task, 'summary', $event);"></app-text-cell>
        </td>
        <td><app-link-cell [link]=task.requirementUrl (linkChange)="saveChanges(task, 'requirementUrl', $event);"></app-link-cell></td>
        <td><app-team-cell [owner]=task.fe (ownerChange)="saveChanges(task, 'fe', $event)"></app-team-cell></td>
        <td><app-team-cell [owner]=task.api (ownerChange)="saveChanges(task, 'api', $event)"></app-team-cell></td>
        <td><app-team-cell [owner]=task.devOps (ownerChange)="saveChanges(task, 'devOps', $event)"></app-team-cell></td>
        <td><app-team-cell [owner]=task.email (ownerChange)="saveChanges(task, 'email', $event)"></app-team-cell></td>
        <td><app-team-cell [owner]=task.qe (ownerChange)="saveChanges(task, 'qe', $event)"></app-team-cell></td>
        <td><app-date-cell [date]=task.eta (dateChange)="saveChanges(task, 'eta', $event);"></app-date-cell></td>
        <td><app-date-cell [date]=task.deployed (dateChange)="saveChanges(task, 'deployed', $event);"></app-date-cell></td>
        <td><app-date-cell [date]=task.deadline (dateChange)="saveChanges(task, 'deadline', $event);"></app-date-cell></td>
        <td class="text-left">
          <app-text-cell [value]="task.notes" (valueChange)="saveChanges(task, 'notes', $event);"></app-text-cell>
        </td>
      </tr>
    </tbody>
  </table>
</div>
