<div class="clickable" [ngClass]="{ 'alert-success': (owner.status === 'complete' || owner.status === 'na'), 'alert-info': owner.status === 'wip' }" [hidden]="isEditing" (dblclick)="edit()"><span [hidden]="owner.status === 'na'">{{ owner.owner }}&nbsp;&nbsp;</span>
  <a data-toggle="dropdown">
    <i *ngIf="owner.owner" class="fa" [ngClass]="icon"></i>
  </a>
  <ul class="dropdown-menu" [hidden]="owner.status === 'na'">
    <li class="dropdown-item" (click)="setStatus('ns')"><i class="fa fa-hourglass"></i> - Not Started</li>
    <li class="dropdown-item" (click)="setStatus('wip')"><i class="fa fa-laptop"></i> - Work in Progress</li>
    <li class="dropdown-item" (click)="setStatus('complete')"><i class="fa fa-check"></i> - Complete</li>
  </ul>
</div>
<div [hidden]="!isEditing">
  <input [(ngModel)]="owner.owner" (keydown.enter)="finishEdit();" (blur)="finishEdit()">
</div>