
<div *ngIf="(disconnectedOverlay$ | async)">
  <div class="overlay"></div>
  <div class="disconnectedMessage card">
    You are disconnected. Try to Refresh.
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mr-0 d-flex align-items-center" href="#"><img class="spin mr-1" src="/assets/img/scrump-logo.png" height="25"> {{ title }}</a>
  <small class="p-1" style="font-size:4px"><i class="fas fa-circle mr-2" [ngClass]="{'text-success': (connected$ | async), 'text-danger': !(connected$ | async)}"></i></small>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto navbar-dark">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/current" [ngClass]="{ 'active': (currentView$ | async) === 'current' }">Current</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/board/preplanning" [ngClass]="{ 'active': (currentView$ | async) === 'preplanning' }">Preplanning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/board/backlog" [ngClass]="{ 'active': (currentView$ | async) === 'backlog' }">Backlog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/board/icebox" [ngClass]="{ 'active': (currentView$ | async) === 'icebox' }">Icebox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/completed" [ngClass]="{ 'active': (currentView$ | async) === 'sprints' }">Past Sprints</a>
      </li>
    </ul>
    <a data-toggle="dropdown" *ngIf="(selectedTasks$ | async)?.length" class="nav-link dropdown">
      Actions ({{ (selectedTasks$ | async)?.length }} item<span *ngIf="(selectedTasks$ | async)?.length > 1">s</span>)<i class="fas fa-caret-square-down ml-2"></i>
      <ul class="dropdown-menu">
        <li *ngIf="(currentView$ | async) !== 'current'" class="dropdown-item" (click)="changeBoardForSelected('sprint')">Move to Current Sprint</li>
        <li *ngIf="(currentView$ | async) !== 'preplanning'" class="dropdown-item" (click)="changeBoardForSelected('preplanning')">Move to Preplanning</li>
        <li *ngIf="(currentView$ | async) !== 'backlog'" class="dropdown-item" (click)="changeBoardForSelected('backlog')">Move to Backlog</li>
        <li *ngIf="(currentView$ | async) !== 'icebox'" class="dropdown-item" (click)="changeBoardForSelected('icebox')">Move to Icebox</li>
        <li class="dropdown-item text-danger" (click)="openDeleteTasksConfirm()">Delete Tasks</li>
      </ul>
    </a>

    <button *ngIf="(currentView$ | async) === 'current'" class="btn btn-outline-primary mr-3" (click)="completeSprint()"><i class="fas fa-check-circle mr-1"></i>Complete Sprint</button>
    <button *ngIf="(currentView$ | async) !== 'sprints'" class="btn btn-outline-secondary" (click)="openModal()"><i class="fas fa-plus-circle mr-1"></i>New Task</button>
  </div>
</nav>

<div style="text-align:center">
  <router-outlet></router-outlet>
</div>
