<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto navbar-dark">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/current" (click)="setActive('current')" [ngClass]="{ 'active': activeTab === 'current' }">Current</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/board/preplanning" (click)="setActive('preplanning')" [ngClass]="{ 'active': activeTab === 'preplanning' }">Preplanning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/board/backlog" (click)="setActive('backlog')" [ngClass]="{ 'active': activeTab === 'backlog' }">Backlog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/board/icebox" (click)="setActive('icebox')" [ngClass]="{ 'active': activeTab === 'icebox' }">Icebox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/completed" (click)="setActive('sprints')" [ngClass]="{ 'active': activeTab === 'sprints' }">Past Sprints</a>
      </li>
    </ul>
    <button class="btn btn-outline-success" (click)="openModal()"><i class="fas fa-plus-circle mr-1"></i>New Task</button>
  </div>
</nav>

<div style="text-align:center">
  <router-outlet></router-outlet>
</div>
